.link {
  display: flex;
  list-style: none;

  /* align-items: center;
  justify-content: center; */
}
.link__list {
  display: inline-block;
  text-decoration: none;
  padding: 2.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--ap-logo);
  text-transform: uppercase;
}

.link__list:hover {
  color: var(--ap-blue);
}
