.header-link {
  display: inline-block;
  text-decoration: none;
  padding: 2.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--ap--logo);
  text-transform: uppercase;
  font-family: var(--ap-font);
}

.header-link:hover {
  color: var(--ap--blue);
}
